# --- Database Settings (PostgreSQL) ---
DATABASE_TYPE="pgsql"
DATABASE_HOST="postgres"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_NAME="app"
DATABASE_PASSWORD=""

# --- Email Settings ---
EMAIL_HOST=""
EMAIL_LOGIN=""
EMAIL_PASSWORD=""
EMAIL_SMTP_PORT=""
EMAIL=""

# --- Redis Cache Settings ---
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD=""
PAGE_CACHE_TIME=900

# --- Django Superuser ---
DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_PASSWORD=""

# --- Django Settings ---
# It's a good practice to add these for production
# DJANGO_SECRET_KEY=""
# DJANGO_DEBUG="False"
# DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"
